<% content_for :title, "Text Your Mom | Individual Text" %>

<h2>Here are the details of this message</h2>

<h3>From: <%= @message.from %></h3>
<h3>To: <%= @message.to %></h3>
<h5>Message: <%= @message.body %></h5>
<h3>Sent at:<%= @message.created_at %></h3>
